
  .type-select {
    color: #efe00ffb;
    font-family: 'Luckiest Guy', cursive;
    font-size: 19px;
    -webkit-text-stroke: 0.5px #0a57f2;
  
    position: absolute;
    right: 4rem;
    top: 9rem;
    width: 10rem;
    border: 4px solid #efe00f;
    background-color: rgba(171, 245, 176, 0.599);
  }
  
  .type-select::-webkit-scrollbar {
    display: none;
  }
  .type-sort{
    color: #efe00ffb;
    font-family: 'Luckiest Guy', cursive;
    font-size: 19px;
    -webkit-text-stroke: 0.5px #0a57f2;
    position: absolute;
    right: 4rem;
    top: 6rem;
   
    border: 4px solid #efe00f;
    background-color: rgba(171, 245, 176, 0.599);
  }
  @media (max-width: 700px) {
    .type-sort{
      color: #efe00ffb;
      font-family: 'Luckiest Guy', cursive;
      font-size: 19px;
      -webkit-text-stroke: 0.5px #0a57f2;
      position: absolute;
      right: 0rem;
      top: 13.9rem;
     
      border: 4px solid #efe00f;
      background-color: rgba(171, 245, 176, 0.599);
    }
  }
  @media (max-width: 400px){
    .type-sort{
      color: #efe00ffb;
      font-family: 'Luckiest Guy', cursive;
      font-size: 19px;
      -webkit-text-stroke: 0.5px #0a57f2;
      position: absolute;
      right: 0rem;
      top: 19.4rem;
     
      border: 4px solid #efe00f;
      background-color: rgba(171, 245, 176, 0.599);
    }
  }
