@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.app {
  text-align: center;
  padding: 20px;
  background-image: url('./assets/back-5.jpg');
  background-size: 100%;
  min-height: 100vh;
  height: auto;
}

.app h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.heading{
  color: #efe00ffb;
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #0a57f2;
}
